export METAFLOW_DATASTORE=s3
export METAFLOW_DATASTORE_SYSROOT_S3=s3://tools-study-noam-bucket
export METAFLOW_DATATOOLS_S3ROOT=s3://tools-study-noam-bucket

export METAFLOW_DEFAULT_ENVIRONMENT=local
export METAFLOW_DEFAULT_RUNNER=local

export AWS_DEFAULT_REGION=us-east-1